

    <nav class="navbar navbar-inverse navbar-static-bottom">
        <div class="footer  navbar-inner navbar-content-center">
            <p class="text-muted text-right">Contact Us </p>
        </div>
    </nav>
