//= require jquery.capty.css

#religions_view{
	
	margin: 100px;
}

#stories_view{
	
	margin: 100px;
}

#welcome_view{
	margin-top: 20px;
	margin-left: 30px;
}

.footer{
    margin-right: 30px;
    margin-left: 30px;
    font-size:1.5em;

}