//= require jquery.capty.css

#religions_view{
	
	margin: 100px;
}

#stories_view{
	
	margin: 100px;
}

#welcome_view{
	margin-top: 20px;
	margin-left: 30px;
}

.footer{
    margin-right: 30px;
    margin-left: 30px;
    font-size:1.5em;
    background-color: #b0c4de;

}

.subtitle{
	margin-left:5em;

}
.story-container{
	margin: 3em;

}



.story-title{
white-space: nowrap;
font-size: 1.2em;}

.story-image{
	margin-left: 5em;

}

body{
	
	padding-bottom: 60px;
}

.form-group{
		padding-left: 5em;

}

.page-header{
	padding-left: 2em;
}

div.jumbotron{
	  background-color: #EFEEEE;
	  border-radius: 30px;
}